.container-1{
    background-color: #6AE168;
    padding-bottom: 50px;
}
.container-1 h1{
    padding-top: 10px;
    text-align: center;
}

.container-1 h3{
    margin-top: 50px;
    margin-bottom: 30px;
}

.container-1 img{
    border-radius: 10px;
    width: 400px;
}


.img-2{
    width: 100px;
}