@media (min-width: 600px) and (max-width:1600px){
    body {
        margin: 0px;
        font-family: 'Inter', sans-serif;
        background-color: #ffef12;
        color: black;
        text-shadow: 3px 3px 5px #fff, -3px -3px 10px #fff, 0 0 15px #fff, 0 0 20px #fff
    }

    .bg-image {
        margin-top: -50px;
        background-image: url('../img/cow1.png');
        height: 768px;
    }

    .bg-image h1 {
        padding-top: 250px;
        padding-left: 100px;
        font-size: 72px;
        width: 900px;
        text-shadow: 4px 4px 10px black, -4px -4px 10px black;
        color: white;
    }

    .bg-image h3 {
        margin-top: -40px;
        padding-left: 100px;
        font-size: 40px;
        font-weight: normal;
        width: 900px;
        text-shadow: 3px 3px 5px black, -3px -3px 5px black;
        color: white;
    }

    .video {
        height: 450px;
        text-align: center;
        padding-top: 80px;
        margin-bottom: 100px;
        height: 600px;
    }

    .video iframe{
        width: 900px;
        height: 500px;
    }

    .container-2 {
        margin-top: -100px;
        margin-bottom: 80px;
        height: 450px;
    }

    .container-2 img {
        width: 450px;
        margin-left: 40px;
        margin-right: 100px;
        float: left;
        border-radius: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: white;
    }

    .content-2 {
        width: 850px;
        margin-left: 500px;
    }

    .container-2 ul {
        padding-top: 0px;
        padding-right: 150px;
        font-size: 24px;
    }

    .container-3 {
        height: 150px;
        font-size: 32px;
        padding-left: 100px;
        padding-right: 150px;
    }

    .content-3 {
        width: 900px;
    }

    .container-3 p {
        margin-top: -80px;
        padding-left: 10px;
    }

    .container-4 {
        height: 1000px;
        padding-left: 100px;
        padding-right: 50px;
    }

    .page {
        height: 300px;
    }

    .container-4 img {
        width: 250px;
        float: left;
        margin-right: 30px;
        border-radius: 10px;
    }

    .container-4 ul {
        font-size: 24px;
        padding-right: 200px;
        padding-top: 80px;
    }

    .content-4 {
        width: 800px;
        margin-left: 250px;
        padding-left: 50px;
    }

    .container-5 {
        margin-top: -30px;
        height: 250px;
        font-size: 30px;
        padding-left: 100px;
        padding-right: 150px;
    }

    .content-5 {
        width: 900px;
    }

    .container-6 {
        height: 250px;
        margin-top: 50px;
        margin-bottom: 20px;
        padding-top: 50px;
        font-size: 36px;
        text-align: center;
    }

    .container-6 p {
        margin-top: 2px;
        margin-bottom: 5px;
    }

    .container-6 span {
        font-weight: bolder;
    }

    .cont-wa {
        width: 250px;
        margin: auto;
        margin-top: 10px;
        background-color: rgb(33, 137, 102);
        border-radius: 15px;
        padding: 15px;
        padding-top: 15px;
        font-size: 24px;
    }

    .cont-wa img {
        width: 40px;
        float: left;
        padding-left: 10px;
    }

    .container-6 a {
        text-decoration: none !important;
        color: black;
    }

    .cont-wa p {
        margin-top: 7px;
    }

    .cont-wa:hover {
        background-color: aquamarine;
        color: black;
    }
}


@media (max-width: 600px ) {

    body { 
        width: 400px;
        margin: auto;
        font-family: 'Inter', sans-serif;
        background-color: #ffef12;
        color: black;
        text-shadow: 3px 3px 5px #fff, -3px -3px 10px #fff, 0 0 15px #fff, 0 0 20px #fff
    }

    .bg-image {  
            background-image: url('../img/cow-mobile.png'); 
            background-repeat: no-repeat;
            background-size: 400px;
    }

    .bg-image h1 {
        padding-top: 50px;
        padding-left: 30px;
        font-size: 20px;
        text-shadow: 4px 4px 10px black, -4px -4px 10px black;
        color: white;
    }

    .bg-image h3 {
        width: 250px;
        padding-top: -30px;
        padding-left: 30px;
        padding-bottom: 30px;
        font-size: 12px;
        font-weight: normal;
        text-shadow: 3px 3px 5px black, -3px -3px 5px black;
        color: white;
    }

    .video{
        text-align: center;
    }
    
    .video iframe{
        width: 300px;
        height: 150px;
        margin-bottom: 30px;
    }

    .container-2 img {
        width: 400px;
    }

    .img-mobile{
        width: 400px;
    }

    .container-6 {
        height: 250px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 30px;
        font-size: 28px;
        text-align: center;
    }

    .container-6 p {
        margin-top: 2px;
        margin-bottom: 5px;
    }

    .container-6 span {
        font-weight: bolder;
    }

    .cont-wa {
        width: 200px;
        margin: auto;
        margin-top: 10px;
        background-color: rgb(33, 137, 102);
        border-radius: 15px;
        padding: 15px;
        padding-top: 13px;
        font-size: 24px;
    }

    .cont-wa img {
        width: 30px;
        float: left;
        padding-left: 10px;
    }

    .container-6 a {
        text-decoration: none !important;
        color: black;
    }

    .cont-wa p {
        margin-top: 7px;
        font-size: 16px;
    }

    .cont-wa:hover {
        background-color: aquamarine;
        color: black;
    }
}